RewriteEngine On
ErrorDocument 404 https://pc-master.herokuapp.com/error/index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/([^/]+)$ index.php?controller=$1&action=$2 [L]
#RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2 [QSA]