body {
    /* padding-left: 300px; */
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    font-family: 'Roboto', sans-serif;
    background-color: aliceblue;
  }

  #logo img {
      max-width: 100%;
  }

nav {
    background-color: #990011c7 !important;
}

.content a{
    color: #990011c7;
}
.content a:hover{
    color: #51cadad2 ;
}
.collection a.collection-item {
color: #990011c7 !important;
}
/* Color de menu movil y letras */
.tabs {
    background-color: #990011c7 !important;
}
.tabs .tab a {
    color: rgb(226, 235, 243) !important;
}
  .content {
    text-align: justify;
    text-justify: inter-word;
  }
  .content p {
    font-size: 18px;
  }

.navbar {
    background-color: #252525;
}
.nav-wrapper .brand-logo {
    padding-left: 10px;
}

#lateral {
    font-size: 15px;
    text-align: center;
    text-justify: unset;
}

.sidenav h5 {
    margin-left: 20px;
}

footer {
    background-color: #990011c7 !important;
}
footer a:hover{
    color: #51cadad2 !important;
    text-decoration: underline #ffffffd2 !important;
}
.card-image {
    max-width: 100%;
}
.card a {
    font-size: 17px;
    font-weight: bold;
}
.card p {
    font-size: 17px;
    font-weight: bold;
}
table .btn-small {
    font-size: 10px !important;
    color: whitesmoke !important;
}
table .btn-small:hover {
    font-size: 10px;
    color: rgb(216, 203, 203);
}

table img{
    max-width: 200px;
    height: auto;
}

.btn{
    color: whitesmoke !important;
}

 /* label color */
 .input-field label {
    color: rgb(0, 0, 0);
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #990011c7 !important;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #990011c7 !important;
    box-shadow: 0 1px 0 0 #000;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #990011c7 !important;
  }

  .add-category .boton {
      line-height: 85px;
  }

  .alert_green{
    color:rgba(30, 114, 30, 0.904);
}

.alert_red{
    color:rgb(187, 51, 51);
}

  @media only screen and (max-width : 992px) {
    
    table img{
        width: 50px;
        height: 50px;
    }

    td {
        width: 300px;
    }
} 